 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url('images/pexels-snapwire-618613.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 731px;
}

.u-section-1 .u-text-1 {
  margin: 230px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 18px 422px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 29px auto 60px 1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 222px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 2px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 291px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-accordion-1 {
  margin-bottom: 80px;
  margin-top: 80px;
}

.u-section-2 .u-accordion-link-1 {
  font-size: 1.875rem;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-2 {
  font-size: 1.875rem;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-3 {
  font-size: 1.875rem;
}

.u-section-2 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-4 {
  font-size: 1.875rem;
}

.u-section-2 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-5 {
  font-size: 1.875rem;
}

.u-section-2 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px;
}

@media (max-width: 767px) {
  .u-section-2 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1005px;
}

.u-section-3 .u-text-1 {
  margin: 70px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 448px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 40px 0 -394px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/pexels-snapwire-618613.jpg");
  background-position: 50% 50%;
  min-height: 357px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 357px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 12px 0 0;
}

.u-section-3 .u-image-2 {
  background-image: url("images/pexels-august-de-richelieu-4427622.jpg");
  background-position: 50% 50%;
  min-height: 357px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 357px;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-5 {
  margin: 0;
}

.u-section-3 .u-text-6 {
  margin: 12px 0 0;
}

.u-section-3 .u-image-3 {
  background-image: url("images/pexels-august-de-richelieu-4427425.jpg");
  background-position: 50% 65.73%;
  min-height: 357px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 357px;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-7 {
  margin: 0;
}

.u-section-3 .u-text-8 {
  margin: 12px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 248px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 294px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 294px;
  }

  .u-section-3 .u-image-2 {
    min-height: 294px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 294px;
  }

  .u-section-3 .u-image-3 {
    min-height: 294px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 28px;
  }

  .u-section-3 .u-image-1 {
    min-height: 225px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    min-height: 225px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    min-height: 225px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2089px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -324px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 506px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 506px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 506px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1605px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -254px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 319px;
  }

  .u-section-3 .u-image-2 {
    min-height: 319px;
  }

  .u-section-3 .u-image-3 {
    min-height: 319px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/photo-1505547828843-176834e42154.jpeg');
}

.u-section-4 .u-sheet-1 {
  min-height: 535px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 22px auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 58px 942px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 17px auto 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-5 {
  margin: 22px auto 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px auto 60px 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 742px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 522px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 342px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 219px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 142px;
  }
}