 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url('images/photo-1473186505569-9c61870c11f9.jpeg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 731px;
}

.u-section-1 .u-text-1 {
  margin: 232px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 18px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 18px 422px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 28px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 222px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 2px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 291px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 694px;
}

.u-section-2 .u-text-1 {
  margin: 70px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 19px auto 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 447px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 1px auto 0 2px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 32px auto 0 1px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 42px auto 0 1px;
  padding: 14px 31px 16px 30px;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  margin: 58px 1px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 447px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  margin: 1px auto 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -30px 0 0 auto;
  padding: 4px 25px 5px 23px;
}

.u-section-2 .u-text-7 {
  font-size: 3rem;
  font-weight: 700;
  margin: 41px auto 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  border-style: none;
  margin: 49px auto 0 0;
  padding: 14px 31px 16px 30px;
}

.u-section-2 .u-icon-2 {
  margin-left: 10px;
}

.u-section-2 .u-text-8 {
  font-size: 0.875rem;
  margin: 58px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 447px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-9 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-10 {
  font-size: 3rem;
  font-weight: 700;
  margin: 40px auto 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  border-style: none;
  margin: 49px auto 0 0;
  padding: 14px 31px 16px 30px;
}

.u-section-2 .u-icon-3 {
  margin-left: 10px;
}

.u-section-2 .u-text-11 {
  font-size: 0.875rem;
  margin: 58px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 369px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 369px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 499px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
    padding-right: 13px;
    padding-left: 12px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 499px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    padding-right: 19px;
    padding-left: 18px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 1px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 499px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 48px;
    padding-right: 16px;
    padding-left: 15px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 59px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 1px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -30px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 616px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 264px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 32px auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  margin: 32px auto 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-9 {
  margin: 32px auto 0 0;
}

.u-section-3 .u-text-10 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 217px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 6px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 458px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/photo-1505547828843-176834e42154.jpeg');
}

.u-section-4 .u-sheet-1 {
  min-height: 535px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 22px auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 58px 942px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 17px auto 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-5 {
  margin: 22px auto 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px auto 60px 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 742px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 522px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 342px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 219px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 142px;
  }
}